<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Week 6 - Felix{% endblock %}</title>
    {% load static %}
    {% load crispy_forms_tags %}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/icons/bootstrap-icons.css' %}">
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'dept-list' %}">HR System</a>
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'dept-list' %}">Departments</a>
                <a class="nav-link" href="{% url 'emp-list' %}">Employee</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
